<footer class="footer fixed-bottom pt-4" style="background-color: #e3f2fd;height: 20%;">
    <div class="text-center">
        <a href="https://github.com/Athira2199" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
        <a href="https://twitter.com/athiravajit" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/athira-v-ajit-483578163/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
        <a href="mailto:mailathiravajit@gmail.com" target="_blank"><i class="fa fa-envelope-square fa-2x"></i></a>
    </div>
    <div class="container-fluid text-center pt-4">
        &#169; Athira V Ajit , 2020
    </div>

</footer>