<html>
    <head>
        <title>User Name</title>
        <%- include('./partials/head.ejs') %>
    </head>
    <body>
        <%- include('./partials/navbar.ejs')%>
        <div>
            slkklvnslkjnvkl
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>